.drawer {
  position: relative;
}

.contentIdSection {
  position: absolute;
  left: 20px;
  top: 8px;
  font-size: 12px;
  color: #6c6c6c;
  border-radius: 6px;
  padding: 0 4px;
}

.neighbourhoodDetails {
  margin-top: 8px;
  overflow: auto;
}

.neighbourhoodWrapper {
  margin-top: 8px;
}

.neighbourhoodDetails::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.neighbourhoodDetails::-webkit-scrollbar-track {
  background: #0094ff20;
}

.neighbourhoodDetails::-webkit-scrollbar-thumb {
  background: #0094ff70;
}

.neighbourhoodDetails::-webkit-scrollbar-thumb:hover {
  background: #0094ff80;
}

.neighbourhoodDetails::-webkit-scrollbar-thumb:active {
  background: #0094ff80;
}

.intensitySection {
  margin-top: 8px;
}

.intensity {
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  padding: 4px 8px;
}

.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 36px;
}
.buttonGroup button {
  width: 80%;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 12px 18px;
}

.dialogTitleGroup {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.dialogButtonGroup {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 0.5rem;
}
.dialogButtonGroup button {
  border-radius: 10px;
}

.buttonDarkIcon {
  color: #000;
}

.buttonLightIcon {
  color: #fff;
}

.closeButton {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #f2f2f2;
}

.shareAlert {
  margin-top: 15px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content > p:first-of-type:not(.subtitle) {
  font-weight: 500;
  font-size: 14px;
  color: #636363;
}
.subtitle {
  font-weight: 500;
  font-size: 14px;
  color: #0094ff;
  text-transform: capitalize;
}

.contentInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 0px;
}

.contentInfo svg {
  margin-right: 5px;
}

.contentInfo span {
  font-size: 12px;
  text-transform: capitalize;
}

.contentButtons {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: black;
}

.btnIcon {
  width: 16px;
}
@media (min-width: 768px) {
}
